<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start | Josiah Spilker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>M323 Portfolio Josiah Spilker</h1>
<div class="sections">
    <a href="/A1G">A1G</a>
    <a href="/A1F">A1F</a> 
    <a href="/A1E">A1E</a> 
    <a href="/B1G">B1G</a> 
    <a href="/B1F">B1F</a> 
    <a href="/B1E">B1E</a> 
    <a href="/B2G">B2G</a> 
    <a href="/B2F">B2F</a> 
    <a href="/B2E">B2E</a> 
    <a href="/B3G">B3G</a> 
    <a href="/B3F">B3F</a> 
    <a href="/B3E">B3E</a> 
    <a href="/B4G">B4G</a> 
    <a href="/B4F">B4F</a> 
    <a href="/B4E">B4E</a> 
    <a href="/C1G">C1G</a> 
    <a href="/C1F">C1F</a> 
    <a href="/C1E">C1E</a>
</div>
</body>
</html>